<div class="container d-flex justify-content-center py-4">
  @if (product(); as currentProduct) {
    <div class="card product-details-card">
      <div class="img-container">
        <img [src]="currentProduct.image" class="card-img-top d-block mx-auto" alt="{{currentProduct.name}}">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center"><b>{{currentProduct.name}}</b></h5>
        <p class="card-text text-center">{{currentProduct.description}}</p>
        <div class="d-flex flex-wrap justify-content-center gap-3 mt-4">
          @if (!isAdmin()) {
            <button (click)="addToBasket(currentProduct.id)"
              class="btn btn-primary">Add to basket
            </button>
          }
          @if (isAdmin()) {
            <div class="admin-controls d-flex flex-wrap align-items-center justify-content-center"
              gap-2 border-top pt-3 w-100>
              <button (click)="deleteProduct(currentProduct.id)" class="btn btn-outline-danger">Delete product</button>
              <div class="d-flex align-items-center bg-light p-2 rounded">
                <label for="quantity" class="me-2 mb-0"><b>Quantity: </b></label>
                <input [formControl]="quantity" type="number" id="quantity" class="form-control quantity-input">
                <button (click)="updateQuantity()" class="btn btn-success ms-2">Update</button>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>