<div class="container pt-4 custom-width">
  <form [formGroup]="registerForm" (ngSubmit)="registerHandler()" class="bg-info p-4">
    <fieldset>
      <h2 class="text-center mt-3">Registration Form</h2>

      <!-- firstName -->
      <div class="mt-5">
        <label for="firstName">First name</label>
        <input formControlName="firstName" type="text" class="form-control" id="firstName"
          placeholder="Enter first name">
        </div>
        @if (firstname?.touched && firstname?.hasError('required')) {
          <p
            class="error">
          First name is required! </p>
        }
        @if (firstname?.hasError('minlength') || firstname?.hasError('maxlength')) {
          <p
            class="error">
          First name length must be between 3 and 20 characters!</p>
        }

        <!-- lastName -->
        <div class="mt-3">
          <label for="lastName">Last name</label>
          <input formControlName="lastName" type="text" class="form-control" id="lastName"
            placeholder="Enter last name">
          </div>
          @if (lastname?.touched && lastname?.hasError('required')) {
            <p
              class="error">
            Last name is required! </p>
          }
          @if (lastname?.hasError('minlength') || lastname?.hasError('maxlength')) {
            <p
              class="error">
            Last name length must be between 3 and 20 characters!</p>
          }

          <!-- Email -->
          <div class="mt-3">
            <label for="email">Email</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter Email" autocomplete="new-password" >
          </div>
          @if (email?.touched && email?.hasError('required')) {
            <p
              class="error">
            Email is required! </p>
          }
          @if (email?.hasError('emailValidator')) {
            <p class="error">
            Email is not valid</p>
          }

          <!-- Password -->
          <div class="mt-3" formGroupName="pass">
            <label for="password">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password"
              placeholder="Enter Password">
              @if (password?.touched && password?.hasError('required')) {
                <p
                  class="error">
                  Password is required!
                </p>
              }
              @if (password?.hasError('minlength') || password?.hasError('maxlength')) {
                <p
                  class="error">
                  Password length must be between 6 and 20 characters!
                </p>
              }

              <!-- rePassword -->
              <div class="mt-3">
                <label for="rePassword">Repeat Password</label>
                <input formControlName="rePassword" type="password" class="form-control" id="rePassword"
                  placeholder="ReEnter Password">
                </div>
                @if (rePassword?.hasError('passwordGroupValidator')) {
                  <p class="error">
                    Password not match!
                  </p>
                }
              </div>

              <div class="d-grid col-6 mx-auto mt-3 mb-3">
                <button [disabled]="registerForm.invalid" class="btn btn-primary">Create Account</button>
              </div>
            </fieldset>
          </form>
        </div>