<div class="container pt-4 custom-width">
  <form [formGroup]="profileForm" class="bg-info p-4">
    <fieldset>
      <h3 class="text-center mt-3">User Info:</h3>

      <!-- firstName -->
      <div class="mt-5">
        <label for="firstName">First name</label>
        <div class="d-flex align-items-center">
          @if (showEditMode['firstName']) {
          <ng-container class="flex-grow-1">
            <input formControlName="firstName" type="text" class="form-control me-2" id="firstName"
              placeholder="Enter first name">
          </ng-container>
          }
          @if (!showEditMode['firstName']) {
          <ng-container class="flex-grow-1">
            <div class="form-control text-bg-light me-2">{{user().firstName}}</div>
          </ng-container>
          }
          <div class="d-flex flex-column">
            @if (!showEditMode['firstName']) {
            <button class="btn btn-primary me-2" type="button" (click)="toggleEditMode('firstName')">Edit</button>
            }
            @if (showEditMode['firstName']) {
            <button class="btn btn-primary" type="button" [disabled]="controls.firstName.invalid"
              (click)="updateField('firstName')">Save</button>
            }
          </div>
        </div>
        @if (controls.firstName.touched && controls.firstName.hasError('required')) {
        <p class="error w-100">
          First name is required! </p>
        }
        @if (controls.firstName.hasError('minlength') || controls.firstName.hasError('maxlength')) {
        <p class="error w-100">
          First name length must be between 3 and 20 characters!</p>
        }
      </div>

      <!-- lastName -->
      <div class="mt-3">
        <label for="lastName">Last name</label>
        <div class="d-flex align-items-center">
          @if (showEditMode['lastName']) {
          <ng-container class="flex-grow-1">
            <input formControlName="lastName" type="text" class="form-control me-2" id="lastName"
              placeholder="Enter last name">
          </ng-container>
          }
          @if (!showEditMode['lastName']) {
          <ng-container class="flex-grow-1">
            <div class="form-control text-bg-light me-2">{{user().lastName}}</div>
          </ng-container>
          }
          <div class="d-flex flex-column">
            @if (!showEditMode['lastName']) {
            <button class="btn btn-primary me-2" type="button" (click)="toggleEditMode('lastName')">Edit</button>
            }
            @if (showEditMode['lastName']) {
            <button class="btn btn-primary" type="button" [disabled]="controls.lastName.invalid"
              (click)="updateField('lastName')">Save</button>
            }
          </div>
        </div>
        @if (controls.lastName.touched && controls.lastName.hasError('required')) {
        <p class="error w-100">
          Last name is required! </p>
        }
        @if (controls.lastName.hasError('minlength') || controls.lastName.hasError('maxlength')) {
        <p class="error w-100">
          Last name length must be between 3 and 20 characters!</p>
        }
      </div>

      <!-- Email -->
      <div class="mt-3">
        <label for="email">Email</label>
        <div class="d-flex align-items-center">
          @if (showEditMode['email']) {
          <ng-container class="flex-grow-1">
            <input formControlName="email" type="email" class="form-control me-2" id="email" placeholder="Enter Email"
              autocomplete="new-password">
          </ng-container>
          }
          @if (!showEditMode['email']) {
          <ng-container class="flex-grow-1">
            <div class="form-control text-bg-light me-2">{{user().email}}</div>
          </ng-container>
          }
          <div class="d-flex flex-column">
            @if (!showEditMode['email']) {
            <button class="btn btn-primary me-2" type="button" (click)="toggleEditMode('email')">Edit</button>
            }
            @if (showEditMode['email']) {
            <button class="btn btn-primary" type="button" [disabled]="controls.email.invalid"
              (click)="updateField('email')">Save</button>
            }
          </div>
        </div>
        @if (controls.email.touched && controls.email.hasError('required')) {
        <p class="error w-100">
          Email is required! </p>
        }
        @if (controls.email.hasError('emailValidator')) {
        <p class="error w-100">
          Email is not valid</p>
        }
      </div>

      <!-- Password -->
      <div class="mt-3">
        <label for="password">Password</label>
        <div class="d-flex align-items-center">
          <!-- Display Hidden Password when Not Editing -->
          @if (!showEditMode['password']) {
          <ng-container class="flex-grow-1">
            <div class="form-control text-bg-light me-2">**********</div>
          </ng-container>
          }

          <!-- Display Password Fields when in Edit Mode -->
          @if (showEditMode['password']) {
          <ng-container class="flex-grow-1">
            <div class="w-100 d-flex flex-column gap-3">
              <input formControlName="currentPassword" type="password" class="form-control me-2"
                placeholder="Current Password">
              @if (controls.currentPassword.touched && controls.currentPassword.hasError('required')) {
              <p class="error w-100">
                Current password is required!
              </p>
              }
              <input formControlName="newPassword" type="password" class="form-control me-2" placeholder="New Password">
              @if (controls.newPassword.touched && controls.newPassword.hasError('required')) {
              <p class="error w-100">
                New password is required!
              </p>
              }
              @if (controls.newPassword.hasError('minlength') || controls.newPassword.hasError('maxlength')) {
              <p class="error">
                Password length must be between 6 and 20 characters!
              </p>
              }
              <input formControlName="confirmNewPassword" type="password" class="form-control me-2"
                placeholder="Repeat New Password">
              @if (controls.confirmNewPassword.hasError('passwordGroupValidator')) {
              <p class="error">
                Passwords do not match!
              </p>
              }
            </div>
          </ng-container>
          }

          <!-- Edit / Save Buttons -->
          <div class="d-flex flex-column ms-2">
            @if (!showEditMode['password']) {
            <button class="btn btn-primary me-2" type="button" (click)="toggleEditMode('password')">Edit</button>
            }
            @if (showEditMode['password']) {
            <button class="btn btn-primary me-2" type="button"
              [disabled]="controls.currentPassword.value === '' || controls.newPassword.invalid || profileForm.hasError('passwordGroupValidator')"
              (click)="updateField('password')">Save</button>
            }
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>