.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

.parallax {
  background-image: url("../../assets/img/burgas_mosta.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content-box {
  background: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  color: white;
  border: 2px solid green;
}

.feature-item {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .parallax {
    background-attachment: scroll; 
    min-height: 100vh;
  }

  h1 {
    font-size: 1.8rem;
  }

  .feature-item {
    font-size: 1rem;
  }
}
